<h1 class="big-title">
	Welcome, <%= current_user.fname + " " + current_user.lname %>!
</h1>

<ul>
	<% @users.each do |user| %>
	<li>
		<a href="<%= user_path(user.id) %>"><%= user.username %></a>
	</li>
	<% end %>
</ul>