<section class="about-container">
	<h1>About</h1>
	<div id="about-content">
<p>This blog focuses on swing dances in NYC or nearby vicinity. If it’s at
a restaurant without legitimate dance space, please don’t submit it here.</p>
			
<p>Workshops are posted at my discretion (ones I think that hold the greatest
appeal to the community, as I don’t have time to research and post them 
all).</p>
			
<p>These postings come from various Lindy calendars, message board postings,
Facebook invites, and emails. Events are subject to change based on the 
event organizers, I catch as much as possible, but I can’t guarantee I’ll
catch them all. If there’s any question, check with the event organizers.</p>
			
<p>If you wish to submit an event for inclusion in this week in swing, please
email thisweekinswingnyc(at)gmail(dot)com. Replace the at and dot with 
the appropriate symbols. Submissions should come in as early as possible, 
as I do major updates primarily once a week. 
</p>
<p>Thanks for subscribing to This Week in Swing NYC / Eileen’s Lindy Blog.</p>

	</div>
</section>