<header>
  <h3 class="attending-title">
    Your Created Events
  </h3>
</header>

<div class="home-content">
  <% if current_user.events.empty? %>
    
    <h3 class="message">You have not created any events...</h3>
  
  <% else %>
  
    <table id="created-events-table" class="events-table">
      <tr>
    		<th>Name</th>
        <th>Type</th>
        <th>Action</th>
  
    	</tr>
    	<% current_user.events.each do |event| %>
    		<tr>
    			<td class="event-name"><%= link_to event.name, event_path(event.id), remote: :true, class: "event-show" %></td>
          <td><%= event.recurring ? "Weekly" : "Special" %></td>

          <td>
            <%= button_to "Destroy", event_path(event.id), method: :delete, confirm: "Deleting this event will delete all occurrences of the event, are you sure you want to do this?", class: "destroy-button created" %>
            <%= button_to "Edit", edit_event_path(event.id), method: :get, class: "update-button created" %>
          </td>
    
    	<% end %>
    	</tr>
  
    </table>
    
  <% end %>
</div>
