<h1 class="big-title">
	This Week in Swing NYC - <%= DateTime.now.strftime('%b %d %Y') %>
</h1>

<% if user_signed_in? %>
<li>
	<a id="new-event-button" href="#">New Event</a>
	
	<div class="new-event hide">
		<%= render partial: "new" %>
	</div>
</li>
<% end %>

<section class="reccurring">
	<h1 class="medium-title">
		Regular Events
	</h1>
	
	<ul class="events">
	<% @reccurring_events.each do |o| %>
		<%= render partial: "single_event", locals: {:o => o} %>
	<% end %>
	</ul>
</section>

<section class="special">
	<h1 class="medium-title">
		Special Events
	</h1>
	<% @events.each do |o| %>
		<%= render partial: "single_event", locals: {:o => o} %>
	<% end %>
</section>

<script>

</script>