<h1 class="big-title">
	This Week in Swing NYC - <%= DateTime.now.strftime('%b %d %Y') %>
</h1>

<% if user_signed_in? %>
<div>
	<a id="new-event-button" href="#">New Event</a>
	
	<div class="new-event hide">
		<%= render partial: "new" %>
	</div>
</div>
<% end %>

<section class="all-events">
	<%= render partial: "events", locals: {recurring: @recurring_events, special: @events} %>
</section>

<script>
$(document).ready(function () {
  attendButtons();
});
</script>