<h1 class="big-title">
	This Week in Swing NYC - <%= DateTime.now.strftime('%b %d %Y') %>
</h1>

<li>
	<a id="new-event-button" href="#">New Event</a>
	
	<div class="new-event hide">
		<%= render partial: "new" %>
	</div>
</li>


<section class="reccurring">
	<h1 class="medium-title">
		Weekly Events
	</h1>
	
	<ul class="events">
	<% @reccurring_events.each do |o| %>
		<%= render partial: "single_event", locals: {:o => o} %>
	<% end %>
	</ul>
</section>

<section class="special">
	<h1 class="medium-title">
		Special Events
	</h1>
	<% @events.each do |o| %>
		<%= render partial: "single_event", locals: {:o => o} %>
	<% end %>
</section>

<script>

$(document).ready(function () {	
	$("#event-form").find('input[type="submit"]').on(
		"click",
		function (event) {
		  event.preventDefault();
			var that = this;
		  var formData = $(this.form).serialize();
	
			var time = $(this.form).find("#occurrence_time").val();
			var date = $(this.form).find("#occurrence_time").val();
	
			if (time !== "" && date !== "") {
		    $.ajax({
		      url: "/events.json",
		      type: "POST",
		      data: formData,
		      success: function (eventData) {
						temp = eventData;
						newthat = that;
						data = formData;
						if (eventData["reccurring"] == true) {
							console.log("passed")
							$('.new-event').slideToggle();
							$('.new-event').toggleClass("hide");
							
							$(".reccurring .event-time").each(function (index, domEl) {
								var datetime = $(domEl).html().trim().split(/\s+/);
								var domDate = new Date(datetime.join(" "));
								
								$(this).prepend()
								
							});
								
						} else if (eventData["special"] == true) {
							console.log("passed special");
							$('.new-event').slideToggle();
							$('.new-event').toggleClass("hide");
							
							temp = eventData
							
							$(".reccurring .event-time").each(function (index, domEl) {
								var datetime = $(domEl).html().trim().split(/\s+/);
								var domDate = new Date(datetime.join(" "));
								
								
							});
		
						} else {
							console.log("failed");
	
							$('.new-event').slideToggle();
							$('.new-event').toggleClass("hide");
							
						};
		      }
		    });
			} else {
				alert("You missed a field");
			};
		}
	);
		
});
</script>