<h1 class="big-title">
	This Week in Swing NYC - <%= DateTime.now.strftime('%b %d %Y') %>
</h1>

<% if user_signed_in? %>
<li>
	<a id="new-event-button" href="#">New Event</a>
	
	<div class="new-event hide">
		<%= render partial: "new" %>
	</div>
</li>
<% end %>

<%= render partial: "events", locals: {recurring: @recurring_events, special: @events} %>
