<form action="<%= occurrences_path %>" method="post" class="occurrence-new-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label for="occurrence_date">Date: </label>
  <input class="occurrence_date" name="occurrence[date]" type="date" value="">

  <label for="occurrence_time">Time: </label>
  <input class="occurrence_time" name="occurrence[time]" type="time" value="">

  <input type="submit" value="Create" class="create-button edit">        
</form>