.recurring {
	margin: 20px auto;
	max-width: 600px;
	width: auto;
	padding: 20px;
  background: rgba(0,0,0,0.8);
	color: white;
	border: 1px;
	border-radius: 12px;
}

.special {
	margin: 20px auto;
	max-width: 600px;
	width: auto;
	padding: 20px;
  background: rgba(16, 46, 55, 0.8);
	color: white;
	border: 1px;
	border-radius: 12px;
}

.recurring > h2 {
	margin: 8px 0 4px 4px;
	width: auto;
}

.special > h2 {
	margin: 8px 0 4px 4px;
	width: auto;
}

.event-title {
	width: auto;
	font-size: 18px;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: 0.6s all;
}

.event-name {
	float: left;
	margin-left: 15px;
	width: auto;
}

.event-time {
	float: right;
	font-weight: 100;
	font-style: italic;
}

.recurring .event-title:hover {
	background: rgba(255,255,255, 0.9);
	color: rgba(34, 34, 34, 1);
}

.special .event-title:hover {
	background: rgba(255,255,255, 0.9);
	color: rgba(16, 46, 55, 1);
}

.event-content {
	margin: 0 0 10px 20px;
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	border-bottom: 5px solid rgba(144, 202, 119, 0.8);
}

.event-content > label {
	display: block;
}

.event-content .etc {
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 8px;
	padding: 2px 20px;
}