.session-header {
	display: none;
}

input[type="submit"] {
	margin-bottom: 5px;
	padding: 5px 20px;
	border: 1px;
	border-radius: 5px;
  background: gray;
	opacity: 0.6;
	font-size: 13px;
	color: white;
	cursor: pointer;
  overflow: visible;
}

input[type="submit"]:first-child {
	margin-top: 0;
}

input[type="submit"]:hover {
	opacity: 1;
}

input.destroy-button {
	background: rgba(204, 0, 0, 1);
	margin: 9px;
	padding: 3px 20px;
	border: 1px;
	border-radius: 3px;
}

input.destroy-button.edit {
	margin: 2px;
}

input.destroy-button.created {
	margin: 2px;
  padding: 3px 8px;
}

input.destroy-button.attending {
	margin: 2px;
  padding: 3px 8px;
  height: auto;
}

input.update-button {
	background: rgba(48, 116, 56, 1);
	margin: 9px;
	padding: 3px 20px;
	border: 1px;
	border-radius: 3px;
}

input.update-button.edit {
	margin: 2px;
  float: right;
}

input.update-button.created {
	margin: 2px;
  padding: 3px 8px;
}

input.create-button.attending {
	margin: 2px;
  padding: 3px 8px;
  height: auto;
}

input.back-button {
}

.form-field {
	margin-bottom: 8px;
}

.edit-form {
	float: right;
	width: 400px;
}

.edit-form label {
	display: block;
}

.picture {
}

.name-field {
	float: left;
}

.avatar {
	float: left;
	width: 200px;
	padding: 0;
	margin: 0;
}

.avatar-label {
	float: left;
}

.avatar-thumb {
	padding: 5px 0;
}

#event-edit-form {
  width: 550px;
  padding: 0 20px 20px 20px;
}

.occurrences-edit {
  width: 550px;
  padding: 0 20px 20px 20px;
}

.occurrences-edit > .occurrences-list {
  width: 550px;
}

.occurrences-edit > .occurrences-list > li > .occurrence-edit-form {
  float: left;
  width: 450px;
}

.occurrences-edit > .occurrences-list > li > .occurrence-edit-form {
  float: left;
}

.occurrences-edit > nav {
  margin: 8px 0;
}

.status-container {
  margin: 10px 0;
  color: rgba(34, 34, 34, 0.8);
}