/* --- UTILITIES --- */

.group:after {
	clear: both;
	display: table;
	content: "";
}

/* --- HEADER --- */

.header {
	background: rgba(34, 34, 34, 0.95);
	border-bottom: 1px solid rgba(34, 34, 34, 0.95);
	position: fixed;
	width: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
  z-index: 10;
}

.header-wrap {
	width: 900px;
	margin: auto;
}

.header-logo {
	float: left;
}

.header-logo > a {
	padding: 12px 40px 12px 20px;
	display: block;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}

.header-logo > a:visited {
	color: white;
}

.header-logo > a:hover {
	opacity: 0.7;
}

.header-nav {
	float: right;
}

.header-nav > ul {
}

.header-nav > ul > li {
	float: left;
}

.header-nav > ul > li > a {
	padding: 12px 10px;
	display: block;
	color: #fff;
	opacity: 0.7;
}

.header-nav > ul > li > a:hover, #logout-button:hover, #login-button:hover {
	opacity: 1;
}

#login-button {
/*	background: rgba(43, 187, 216, 1);*/
	background: rgba(48, 116, 56, 1);
	margin: 9px;
	padding: 3px 20px;
	border: 1px;
	border-radius: 3px;
}

#logout-button { 
	background: rgba(236, 99, 63, 1);
	margin: 9px;
	padding: 3px 20px;
	border: 1px;
	border-radius: 3px;
}
