/* --- UTILITIES --- */

.group:after {
	clear: both;
	display: table;
	content: "";
}

/* --- HEADER --- */

.header {
	background: rgba(34, 34, 34, 0.95);

/*	background: -moz-linear-gradient(-45deg,  rgba(27,27,27,1) 4%, rgba(13,13,13,1) 36%, rgba(1,1,1,1) 78%, rgba(149,149,149,1) 100%); 
	background: -webkit-gradient(linear, left top, right bottom, color-stop(4%,rgba(27,27,27,1)), color-stop(36%,rgba(13,13,13,1)), color-stop(78%,rgba(1,1,1,1)), color-stop(100%,rgba(149,149,149,1))); 
	background: -webkit-linear-gradient(-45deg,  rgba(27,27,27,1) 4%,rgba(13,13,13,1) 36%,rgba(1,1,1,1) 78%,rgba(149,149,149,1) 100%); 
	background: -o-linear-gradient(-45deg,  rgba(27,27,27,1) 4%,rgba(13,13,13,1) 36%,rgba(1,1,1,1) 78%,rgba(149,149,149,1) 100%);
	background: -ms-linear-gradient(-45deg,  rgba(27,27,27,1) 4%,rgba(13,13,13,1) 36%,rgba(1,1,1,1) 78%,rgba(149,149,149,1) 100%);
	background: linear-gradient(135deg,  rgba(27,27,27,1) 4%,rgba(13,13,13,1) 36%,rgba(1,1,1,1) 78%,rgba(149,149,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b1b', endColorstr='#959595',GradientType=1 );*/

	border-bottom: 1px solid rgba(34, 34, 34, 0.95);
	position: fixed;
	width: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
}

.header-wrap {
	width: 900px;
	margin: auto;
}

.header-logo {
	float: left;
}

.header-logo > a {
	padding: 12px 40px 12px 20px;
	display: block;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}

.header-logo > a:visited {
	color: white;
}

.header-logo > a:hover {
	opacity: 0.7;
}

.header-nav {
	float: right;
}

.header-nav > ul {
}

.header-nav > ul > li {
	float: left;
}

.header-nav > ul > li > a {
	padding: 12px 10px;
	display: block;
	color: #fff;
	opacity: 0.7;
}

.header-nav > ul > li > a:hover, #logout-button:hover, #login-button:hover {
	opacity: 1;
}

#login-button {
	background: rgba(43, 187, 216, 1);
	margin: 9px;
	padding: 3px 20px;
	border: 1px;
	border-radius: 3px;
}

#logout-button { 
	background: rgba(236, 99, 63, 1);
	margin: 9px;
	padding: 3px 20px;
	border: 1px;
	border-radius: 3px;
}
