.homepage-main {
  width: 700px;
  float: left;
}

.homepage-main > article {
  margin-top: 20px;
}

.homepage-main > article:first-child {
  margin-top: 0;
}

.monthly-occurrences {
  background: rgba(253, 240, 200, 0.5);
  padding: 20px;
  width: 600px;
  float: left;
}

.monthly-occurrences > header {
  width: 100%;
}

.monthly-occurrences > header > .attending-title {
  font-size: 25px;
  width: 600px;
  text-align: center;
}

.created-events {
  background: rgba(253, 240, 200, 0.5);
  padding: 20px;
  width: 600px;
  float: left;
}

.created-events > header {
  width: 100%;
}

.created-events > header > .attending-title {
  font-size: 25px;
  width: 600px;
  text-align: center;
}

.home-content {
  margin-top: 10px;
}

.events-table .event-name > a {
  color: rgba(48, 116, 56, 1);
  word-wrap: break-word;
}

.events-table .event-name > a:hover {
  color: rgba(48, 116, 56, 0.5);
}

.homepage-sidebar {
  width: 200px;
  float: right;
}

.homepage-sidebar > article {
  float: left;
  position: fixed;
  padding: 15px 20px;
  background: rgba(100, 100, 190, 0.15);
  border: 1px solid rgba(179, 177, 178, 0.3);
  border-radius: 10px;
}

.users-list {
}

.users-list-title {
  font-size: 18px;
  border-bottom: 1px dashed lightgray;
}

.users-list > ul {
  float: left;
}

.users-list > ul > li {
  font-size: 14px;
  padding: 5px;
}

.users-list > ul > li:first-child {
  padding-bottom: 0;
}

.users-list > ul > li > a {
  color: rgba(48, 116, 56, 1);
}

.users-list > ul > li > a:hover {
  color: rgba(48, 116, 56, 0.5);  
}
