/*
cutty sark light blue: rgba(82, 117, 120, ?);
green blue: rgba(132, 151, 143, ?);
napa yellow orange: rgba(173, 166, 146, ?);
masala orange red: rgba(71, 66, 63, ?);
light gray: rgba(179, 177, 178, ?);
white: rgba(255, 255, 255, ?);

light green: rgba(144, 202, 119, ?);

navy: rgba(16, 46, 55, ?);
light blue: rgba(43, 187, 216, ?);
light orange: rgba(247, 141, 63, ?);
goldenrod: rgba(252, 210, 113, ?);

salmon: rgba(236, 99, 63, ?);
charcoal: rgba(34, 34, 34, ?);
*/

/* --- RESET --- */

html, body, header, footer, section, article, div, 
strong, a, img, p, h1, h2, h3, time, ul, li, small, label, i {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --- ELEMENTS --- */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	background: #eee;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: #00f;
}

strong {
	font-weight: bold;
}

img {
}

label {
}

i {
	display: block;
}

.alert {
	color: red;
	margin: 0 0 10px 0;
}

.notice {
	color: green;
	margin: 0 0 10px 0;
}

.main {
	width: 100%;
	padding: 70px 0;
}

.main-header {
	font-size: 30px;
	margin-bottom: 5px;
}

.big-title {
	font-size: 35px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
}

.medium-title {
	font-size: 25px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	color: rgba(249, 225, 224, 1);
}